@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family:"oppins", sans-serif ;
}
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
section::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}
section::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, 100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}
.container{
    position: relative;
    height: 245px;
    width: 375px;
    z-index: 100;
}
.container .card-front-face{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
 .card-front-face
    header,.card-front-face .logo {
    display: flex;
align-items: center;
}
.card-front-face .header{
    justify-content: space-between;

}
.card-front-face header .logo img{
     width: 48px;
     margin-right: 10px;
}
h5{
    font-size: 20px;
    font-weight: 400;
}
.card-front-face header .chip {
    width: 50px;
  }
  .container .card-details{
    margin-top: 49px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  h6{
    font-size: 10px;
    font-weight: 400;
  }
.card-details .number{
    font-size: 18px;
    letter-spacing: 1px;
}
.card-details .name{
    margin-top: 20px;
}